<div nz-row [nzGutter]="8">
  <div nz-col [nzSpan]="24" class="text-center">
    <h1 class="big-hello">Olá, Michel!</h1>
    <p class="hello-info">Está pronto para tornar o seu processo de compras mais produtivo e eficiente?</p>
  </div>
  <div nz-col [nzSpan]="23" nzOffset="2" class="text-center">
    <div nz-row [nzGutter]="15" style="padding-top: 25px">
      <div nz-col [nzSpan]="4">
        <div class="box-gradient">
          <div class="box-content">
            <i nz-icon nzType="stock" nzTheme="outline" style="font-size: 24px"></i>
            <p>Defina suas metas e orçamentos</p>
          </div>
        </div>
      </div>
      <div nz-col [nzSpan]="4">
        <div class="box-gradient">
          <div class="box-content">
            <i nz-icon nzType="usergroup-add" nzTheme="outline" style="font-size: 24px"></i>
            <p>Adicione seu time de compras</p>
          </div>
        </div>
      </div>
      <div nz-col [nzSpan]="4">
        <div class="box-gradient">
          <div class="box-content">
            <i nz-icon nzType="calendar" nzTheme="outline" style="font-size: 24px"></i>
            <p>Organize sua agenda, eventos e reuniões</p>
          </div>
        </div>
      </div>
      <div nz-col [nzSpan]="4">
        <div class="box-gradient">
          <div class="box-content">
            <i nz-icon nzType="dashboard" nzTheme="outline" style="font-size: 24px"></i>
            <p>Obtenha insights para a tomada de decisões</p>
          </div>
        </div>
      </div>
      <div nz-col [nzSpan]="4">
        <div class="box-gradient">
          <div class="box-content">
            <i nz-icon nzType="bar-chart" nzTheme="outline" style="font-size: 24px"></i>
            <p>Gere relatórios precisos</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
