.big-hello{
  margin-top: 72px;
  font-size: 52px;
  font-weight: 800;
  background: #8C99A4;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hello-info{
  font-size: 20px;
  color:#aaa;
}

.box-gradient{
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #fff;
  border-image-slice: 0.5;
  border-image-source: linear-gradient(#8C99A4 15%, #6EB956 70%);
}

.box i{
}
